*{
    margin: 0;
    padding: 0;
}
#home-bg{
    background-image: url("../Images/home1-bg.jpg");
    background-size: cover;
    height: 650px;
}
.logo img{
    width: 100px;
    height: 100px;
    float: left;
}
header{
    background-color: rgb(51, 17, 13);
    height: 100px;
    border-radius: 30px;
    padding-bottom: 10px;
}
.topnav{
    text-align: center;
}
.topnav a{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    margin: 30px;
    color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
}
.topnav a:hover{
    background-color: white;
    color: rgb(51, 17, 13);
}
.welcome-text{
    margin-left: 40%;
    margin-top: 25%;
}
.welcome-text a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(51, 17, 13);
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.welcome-text a:hover{
    background-color: white;
    color: rgb(51, 17, 13);
}
/* #menu-bg{
    height: 1000px;
    color: black;
}
#menu-cont{
    height: 1000px;
}
#header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}
.menu{
    margin: 20px;
} */
